<template>
    <v-app>
        <v-content>
            <v-container fluid fill-height>
                <v-layout align-center justify-center>
                    <v-flex xs12 sm8 md4>
                        <v-card class="elevation-12">
                            <v-toolbar dark color="primary">
                                <v-toolbar-title>Inicio de sesión</v-toolbar-title>
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field
                                            label="Usuario"
                                            v-model="user.username"
                                            prepend-icon="person"
                                            :error-messages="errors.collect('username')"
                                            v-validate="'required'"
                                            data-vv-name="username"
                                            data-vv-as="usuario"
                                            required>
                                    </v-text-field>
                                    <v-text-field
                                            label="Contraseña"
                                            v-model="user.password"
                                            prepend-icon="lock"
                                            :error-messages="errors.collect('password')"
                                            v-validate="'required'"
                                            data-vv-name="password"
                                            data-vv-as="contraseña"
                                            required
                                            :append-icon="showPassword ? 'visibility_off' : 'visibility'"
                                            :append-icon-cb="() => (showPassword = !showPassword)"
                                            :type="showPassword ? 'text' : 'password'">
                                    </v-text-field>
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer></v-spacer>
                                <v-btn color="primary" @click="submit">Iniciar sesión</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-flex>
                </v-layout>
            </v-container>
            <v-snackbar
                    color="primary"
                    :timeout="5000"
                    :bottom="true"
                    :right="true"
                    :multi-line="true"
                    v-model="snackbar">
                {{ errorMessage }}
                <v-btn flat color="red lighten-4" @click.native="snackbar = false">Cerrar</v-btn>
            </v-snackbar>
        </v-content>
    </v-app>
</template>

<script>

    export default {

        $_veeValidate: {
            validator: 'new' // give me a new validator each time.
        },

        computed: {
            user: {
                get () {
                    return this.$store.getters['auth/user'];
                },
                set (value) {
                    this.$store.commit("auth/USER_COMMIT", value);
                }
            },
        },

        data() {
            return {
                showPassword: false,
                snackbar: false,
                errorMessage: 'Oops parece que algo salio mal, intentalo de nuevo mas tarde'
            };
        },

        methods: {
            submit(e) {
                e.preventDefault();
                this.$validator.validateAll().then(result => {
                    result ? this.attemptLogin() : '';
                }).catch(error => {
                    console.log(error);
                });
            },

            attemptLogin() {
                this.$store.dispatch('auth/login', this.user).then(response => {
                        this.$router.push({path: 'admin/users'})
                    }).catch(error => {
                    this.errorMessage = error.data.message;
                    this.snackbar = true;
                });
            }
        },
    };
</script>

<style scoped>

</style>