/* Bootstrap override */
.navbar-toggler {
  border-color: transparent !important; }

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(51, 51, 51, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>") !important; }

body {
  background-color: #ffffff;
  font-family: 'Anton', sans-serif; }

/* Custom */
.justify-content-evenly {
  justify-content: space-evenly; }

/* General */
h1, h2, h3 {
  font-family: 'Anton', sans-serif;
  font-size: 2rem;
  color: #333333;
  text-transform: uppercase; }

h3 {
  font-size: 1.3rem; }

p, span {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9rem; }

.navbar-light .navbar-nav .nav-link {
  letter-spacing: 0.4px !important;
  color: rgba(0, 0, 0, 0.8) !important; }

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover {
  color: black !important; }

/* Introduction */
.introduction {
  position: relative; }

.introduction::before {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: url("../../images/landing/intro-background.png") no-repeat;
  background-size: cover;
  opacity: .5;
  content: "";
  z-index: -1; }

.introduction::after {
  display: block;
  position: relative;
  background-image: linear-gradient(to bottom, transparent 0%, white 100%);
  margin-top: -100px;
  height: 100px;
  width: 100%;
  content: '';
  z-index: -1; }

.intro-social-links {
  max-height: 33px; }

/* Section 2 */
.section2-iphone {
  height: 330px;
  background: url("../../images/landing/section2-iphone.png") no-repeat right; }

div.section2-background-text {
  background: url("../../images/landing/section2-background-text.png") no-repeat left;
  background-size: auto 100%; }

/* Section 3 */
.section3-iphone {
  height: 330px;
  background: url("../../images/landing/section3-iphone.png") no-repeat 82% 0;
  margin-bottom: 10rem; }

.section3-iphone::after {
  display: block;
  position: absolute;
  background: url("../../images/landing/section3-background-text.png") no-repeat 30% 0;
  margin-top: 250px;
  height: 220px;
  width: 100%;
  content: '';
  z-index: -1; }

/* Banner */
.banner-background {
  background: url("../../images/landing/banner-background.png") no-repeat center;
  background-size: cover;
  color: #ffffff !important;
  margin-bottom: 5rem; }

.banner-background h2 {
  color: #ffffff !important; }

/* Contact */
.contact-background-text::after {
  display: block;
  position: relative;
  background: url("../../images/landing/contact-background-text.png") no-repeat left;
  margin-top: -150px;
  margin-left: 20%;
  height: 180px;
  width: 84%;
  content: '';
  z-index: -1; }

.contact-paragraph {
  margin-top: -1.2rem; }

.contact-form input, .contact-form textarea {
  border: none;
  border-radius: 7px;
  background-color: #f5f5f5;
  padding: 1rem 0;
  margin: 0.3rem 0; }

.contact-form input::placeholder, .contact-form textarea::placeholder {
  color: #333333;
  font-family: 'Anton', sans-serif;
  padding-left: 0.6rem; }

.contact-form button {
  border: none;
  background-color: #333333;
  color: #ffffff;
  padding: 0.7rem;
  margin: 0.3rem 0;
  text-align: center;
  font-family: 'Anton', sans-serif; }

.contact-span {
  font-size: 0.7rem; }

@media (min-width: 425px) {
  .section3-iphone::after {
    display: none; } }
@media (min-width: 768px) {
  nav {
    background-color: transparent !important; }

  .navbar-brand {
    background-color: white;
    padding: 0 5rem !important; }

  .introduction1 {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-image: url("../../images/landing/intro-background-lg.png");
    background-image: linear-gradient(to bottom, transparent 40%, white 100%), url("../../images/landing/intro-background-lg.png");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: .9;
    content: "";
    z-index: -1; }

  .introduction::before, .introduction::after {
    display: none; }

  .introduction h1 {
    letter-spacing: 1.5px;
    margin-top: 30%;
    max-height: 45%;
    font-size: 2.5rem; }

  .intro-social-links {
    max-height: 40px !important; }

  .section2-iphone {
    background-size: contain; }

  .section2::after {
    display: block;
    position: absolute;
    background: url("../../images/landing/section2-background-text.png") no-repeat left;
    margin-top: -110px;
    margin-left: 20%;
    height: 220px;
    width: 77%;
    content: '';
    z-index: -1; }

  div.section2-background-text {
    background: none; }

  .section3-iphone {
    position: absolute;
    top: 50%;
    margin-left: -18%;
    height: 380px;
    background-position: left;
    background-size: contain; }

  .contact form > div > input {
    flex: 0 0 47%; }

  .contact h2 {
    font-size: 7rem; }

  .contact-background-text::after {
    display: none; }

  .contact::before {
    display: block;
    position: absolute;
    background: url("../../images/landing/contact-background-text.png") no-repeat left;
    margin-top: -110px;
    margin-left: 20%;
    height: 220px;
    width: 77%;
    content: '';
    z-index: -1; } }
@media (min-width: 992px) {
  .intro-social-links {
    max-height: 55px !important; }

  .section2 h3 {
    font-size: 1.1rem; }
  .section2 p {
    font-size: 0.76rem; }

  .section2-iphone {
    background: url("../../images/landing/section2-iphone.png") no-repeat top;
    background-size: contain; }

  .section3-title {
    position: absolute;
    margin-left: -15%;
    margin-top: 4rem !important; }

  .banner-background {
    background-size: 100%; }

  .contact::before {
    margin-left: 28%;
    width: 70.5%;
    background-size: cover; } }
@media (min-width: 1200px) and (max-width: 1999.9px) {
  .introduction h1 {
    letter-spacing: 1.5px;
    margin-top: 15%;
    max-height: 40%;
    font-size: 3.6rem; }

  .intro-social-links {
    max-height: 62px !important; }

  h1, h2, h3 {
    font-size: 2rem; }

  h3 {
    font-size: 1.3rem; }

  p, span {
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem; }

  .section2 h3 {
    font-size: 1.3rem; }
  .section2 p {
    font-size: 1rem; }

  .section3-iphone {
    position: absolute;
    top: 50%;
    margin-left: -20%;
    height: 435px;
    background-position: left;
    background-size: contain; }

  .contact::before {
    margin-left: 47%;
    width: 51%;
    height: 240px; } }
@media (min-width: 2000px) {
  h1, h2, h3 {
    font-size: 4rem; }

  h3 {
    font-size: 3rem; }

  p, span {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem; }

  .introduction h1 {
    letter-spacing: 1.5px;
    margin-top: 15%;
    max-height: 40%;
    font-size: 5rem; }

  .intro-social-links {
    max-height: 110px !important; }

  .section2 h3 {
    font-size: 2rem; }

  .section2 p {
    font-size: 1.5rem; }

  .section3-iphone {
    position: absolute;
    top: 43%;
    margin-left: -20%;
    height: 1000px;
    background-position: left;
    background-size: contain; } }

/*# sourceMappingURL=main.css.map */
