<template>
    <v-content>
        <v-card>
            <v-card-title>
                {{title}}
                <v-spacer></v-spacer>
                <v-text-field
                        append-icon="search"
                        label="Buscar"
                        single-line
                        hide-details
                        v-model="search"
                ></v-text-field>
            </v-card-title>

            <v-data-table
                    :headers="headers"
                    :items="items"
                    :search="search"
                    :rows-per-page-items="[10,25,{'text': 'All','value':-1}]"
                    :loading="loading"
            >

                <template slot="items" slot-scope="props">
                    <td>{{ props.item.id }}</td>
                    <td class="text-xs-left">{{ props.item.name }}</td>
                    <td class="text-xs-left">{{ props.item.email }}</td>
                    <td class="text-xs-left">{{ props.item.registration_mode }}</td>
                    <td class="text-xs-left">{{ props.item.created_at }}</td>
                    <td class="justify-center layout px-0">
                        <v-btn icon class="mx-0" @click="edit(props.item)">
                            <v-icon color="success">edit</v-icon>
                        </v-btn>
                        <v-btn icon class="mx-0" @click="destroy(props.item)">
                            <v-icon color="error">delete</v-icon>
                        </v-btn>
                    </td>
                </template>

                <template slot="no-data">
                    <v-alert :value="true" color="error" icon="warning">
                        Oops al parecer todavia no hay usuarios
                    </v-alert>
                </template>
                <v-alert slot="no-results" :value="true" color="error" icon="warning">
                    No se encontro nada con "{{ search }}".
                </v-alert>
            </v-data-table>
        </v-card>
    </v-content>
</template>

<script>
    export default {
        mounted() {
            this.$store.dispatch('users/fetch');
        },
        computed: {
            loading: function () {
                return this.$store.getters['users/loading'];
            },
            items: function () {
                return this.$store.getters['users/users'];
            },
        },
        data() {
            return {
                title: 'Usuarios',
                search: '',
                headers: [
                    {text: 'Id', sortable: true, value: 'id'},
                    {text: 'Nombre', sortable: true, value: 'name'},
                    {text: 'Correo', sortable: true, value: 'email'},
                    {text: 'Modo de registro', sortable: true, value: 'registration_mode'},
                    {text: 'Fecha registro', sortable: true, value: 'created_at'},
                    {text: 'Accion', sortable: false},
                ],
                pagination: {
                    sortBy: false,
                    descending: false,
                    rowsPerPage: 3,
                    page: 1,
                },
            }
        },
        methods: {
            edit(item) {
                console.log(item);
            },
            destroy(item) {
                this.$store.dispatch('users/destroy', item);
            }
        }
    }
</script>

<style scoped>

</style>